<footer>

    <div class="footer-logo">
        <div>
        <a href="index.html"><img src="https://i.imgur.com/Qcs1yhM.png" alt="logo"></a>
    </div>
    <div>
        <h1>Produtos direto de nossa horta para a sua casa!</h1>
        <p>© 2021 CULTIVAR | Recife-PE, Brazil | picultivar@gmail.com</p>
    </div>
    </div>

    <div class="social-network">
        <ul>
            <li>
                <a href="https://www.github.com/marianatheml/cultivarFront" target="_blank" class="iconGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

</footer>