.container {
    padding: 11%;
}

.title {
    margin-top: 100px;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #283618;
    text-align: center;
}

.subtitle h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #283618;
    letter-spacing: 1px;
    text-align: center;
}

.produto h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #BC6C25;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buttons button{
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    padding: 5px 20px;
    border: none;
    border-radius: 80px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.29);
}

.buttons button:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}

.cancel {
    color: #FEFAE0;  
    background-color: #283618;
}

.cancel:hover {
    background-color: #606C38;
}

.deletar {
    background: none;
    color: #283618;
    margin-left: 50px;
}

.deletar:hover {
    background: #FEFAE0;
}