<div class="container">

    <div class="title">
        <h1>Apagar Categoria</h1>
    </div>
  
    <div class="subtitle">
        <h4>Você tem certeza que deseja apagar essa categoria?</h4>
        <h4>Todos os produtos relacionados a ele serão igualmente apagados.</h4>
    </div>
  
    <div class="categoria">
        <h5>Categoria: {{categoria.categoria}}</h5>
    </div>
  

      <div class="buttons">
        <button routerLink="/categoria">Não</button>
        <button (click)="apagar()">Sim</button>
      </div>

  
  </div>

  <app-rodape></app-rodape>
