@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.navbar li a {
    padding: 0 20px;
    font-size: large;
    font-weight: 800;
    color: #283618;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
}

.navbar li a:hover {
    color: #606C38;
}

.i{
    font-size: 22px;
    color: #BC6C25;
}
.fa:hover {
    transform: scale(1.2);
    color: #BC6C25;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}