<nav class="navbar navbar-expand navbar-light bg-white fixed-top d-flex justify-content-between">
  <div>
    <a class="navbar-brand" href="#">
      <img src="https://i.imgur.com/Xl5bbhK.png" alt="logo" width="120px">
    </a>
  </div>

  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobrenos">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" *ngIf='auth.adm()'>
            Cadastrar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/categoria">Categorias</a>
            <a class="dropdown-item" routerLink="/produto">Produtos</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/entrar" *ngIf='!auth.logado()'>Entrar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrar" *ngIf='!auth.logado()'>Cadastre-se</a>
          <a class="nav-link" *ngIf='auth.logado()' (click)="sair()">Sair</a>
        </li>
      </ul>
    </div>

  </div>
</nav>