<div class="container-fluid">

    <div class="title">
        <div class="title-text">
            <h1>PRODUTOS</h1>
            <h5>Veja aqui todas produtos cadastrados ou cadastre um novo:</h5>
        </div>

        <div class="cadastrar">
            <div class="cadastrar-prod">
                <div>
                    <div class="form-group">
                        <label for="nome">Nome do produto:</label>
                        <input [(ngModel)]="produto.produto" type="text" class="form-field" id="produto" name='produto'
                            placeholder="Digite o produto">
                    </div>
                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input [(ngModel)]="produto.fotoProduto" type="text" class="form-field" id="fotoProduto"
                            name='fotoProduto' placeholder="Coloque um link da foto do produto">
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input [(ngModel)]="produto.pesoUnitario" type="number" class="form-field" id="pesoUnitario"
                            name='pesoUnitario' placeholder="Digite o peso">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="valor">Valor:</label>
                        <input [(ngModel)]="produto.valor" type="number" class="form-field" id="valor" name='valor'
                            placeholder="Digite o valor">
                    </div>
                    <div class="form-group">
                        <label for="estoque">Estoque:</label>
                        <input [(ngModel)]="produto.estoque" type="number" class="form-field" id="estoque"
                            name='estoque' placeholder="Digite a quantidade disponivel">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <select class='form-field' name="categorias" id="categorias" [(ngModel)]='idCategoria'
                            (change)='findByIdCategoria()'>
                            <option>Selecione uma categoria:</option>
                            <option *ngFor='let cat of listaCategorias' value="{{cat.id}}">{{cat.categoria}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div>
                <button class="btn btn-light" (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>

</div>

<div class="allprod">

    <div>
        <h2 class="text-center">Todos os Produtos</h2>
    </div>

    <div class="allprod-list">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaProdutos">
                    <th>{{item.id}}</th>
                    <td>{{item.produto}}</td>
                    <td>{{item.categoriaDoProduto.categoria}}</td>
                    <td>{{item.valor}}</td>
                    <td>{{item.estoque}}</td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-info mr-3" [routerLink]="['/produto-edit', item.id]">Editar</button>
                        <button class="btn btn-danger" [routerLink]="['/produto-delete', item.id]">Apagar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-rodape></app-rodape>