<div class="container-fluid">

    <div class="row bg-secondary">
        <div class="col-md-12 text-white">

            <h1 class="fs-54 text-center">Produtos</h1>
            <h5 class="fs-18 text-center">Veja aqui todos os produtos cadastrados ou cadastre um novo:</h5>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <input [(ngModel)]="produto.produto" type="text" class="form-control" id="produto"
                            name='produto' placeholder="Digite o produto">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="produto.fotoProduto" type="text" class="form-control" id="fotoProduto"
                            name='fotoProduto' placeholder="Coloque um link da foto do produto">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="produto.pesoUnitario" type="number" class="form-control" id="pesoUnitario"
                            name='pesoUnitario' placeholder="Digite o peso">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="produto.valor" type="number" class="form-control" id="valor" name='valor'
                            placeholder="Digite o valor">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="produto.estoque" type="number" class="form-control" id="estoque"
                            name='estoque' placeholder="Digite a quantidade disponivel">
                    </div>
                    <div class="form-group">
                        <select name="categorias" id="categorias" class='form-control' [(ngModel)]='idCategoria'
                            (change)='findByIdCategoria()'>
                            <option *ngFor='let cat of listaCategorias' value="{{cat.id}}">{{cat.categoria}}</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light" (click)="cadastrar()">Cadastrar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todos os Produtos</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Categoria do Produto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaProdutos">
                        <th>{{item.id}}</th>
                        <td>{{item.produto}}</td>
                        <td>{{item.categoriaDoProduto.categoria}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-info mr-3" [routerLink]="['/produto-edit', item.id]">Editar</button>
                            <button class="btn btn-danger" [routerLink]="['/produto-delete', item.id]">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>