@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

#img-bg{
  background-image: url(https://i.imgur.com/e4mGDK2.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #283618;
  font-weight: 800;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

p {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  color: #283618;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #606C38;
}

a:hover {
  color: #BC6C25;
  text-decoration: underline #BC6C25;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

label {
  color: #283618;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

.form-field{
  display: flex;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size: 14px;
  color: #606C38;
  padding: 10px;
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: thin  solid  #606C38;
}

.form-field:focus {
  border: medium  groove  #283618;
  box-shadow: 0px 0px;
}

button {
  color: #FEFAE0;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  padding: 10px 50px;
  margin-top: 20px;
  border: none;
  border-radius: 80px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.29);
}

button:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}

.cancelar {
  background-color: white;
  color: #283618;
}

.cadastrar {
  background-color: #283618;
}

.cadastrar:hover {
  background-color: #283618;
}