@import url('https://fonts.googleapis.com/css2?family=Playball&family=Raleway:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.carousel {
    margin-top: 85px;
}

.aboutus {
    background-color: #FEFAE0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 100px 25px 100px;
    margin: 25px 0;
    width: 100%;
}

.aboutus-title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.aboutus-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.aboutus-elements h3 {
    font-weight: bold;
    font-size: 60px;
    color: #283618;
}

.aboutus-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    width: 400px;
    height: 230px;
}

.aboutus-img:hover {
    padding-top: 0;
    transform: scale(1.05);
    transition: 0.5s;
}

.aboutus p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #283618;
    letter-spacing: 3px;
}

.aboutus img {
    width: 250px;
    margin-top: 25px;
}

.aboutus button {
    color: #FEFAE0;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    background-color: #283618;
    padding: 4px 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 80px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.29);
}

.aboutus button:hover {
    background: #BC6C25;
    transform: scale(1.05);
    transition-duration: 0.3s;
    transition-property: all;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtos h2 {
    text-align: center;
    margin-top: 15px;
    color: #283618;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
}

.produtos hr {
    color: #283618;
    width: 85%;
}