<div>

    <div class="title">
        <h1>Quem somos?</h1>
        <p>Conheça um pouco mais sobre nós!</p>
    </div>

    <hr>

    <div class="what">
        <div class="what-text">
            <h1>O que é o CultiVar?</h1>
            <p>CultiVar surgiu com o objetivo de trazer maior visibilidade para existência desses espaços e
                comerciantes! Nós somos um e-commerce criado para facilitar, alcançar um número maior de clientes e
                proporcionar um espaço digital a essas pessoas.</p>
        </div>
        <div class="what-img">
            <img src="https://i.imgur.com/Qcs1yhM.png" alt="logo">
        </div>
    </div>

    <div class="who">
        <div class="who-title">
            <h1>E quem queremos atingir?</h1>
        </div>
        <div class="who-text">
            <p>Queremos alcançar pessoas em condição de vulnerabilidade social que receberam capacitação para atuar como
                agricultores e comerciantes em hortas comunitárias já existentes na região metropolitana do Recife.</p>
        </div>
    </div>

    <div class="team">
        <div class="team-title">
            <p>Equipe de desenvolvedores:</p>
        </div>
        <div class="team-members">

            <div class="us">
                <div class="us-img">
                    <a href="https://github.com/marianatheml" target="_blank"><img src="https://i.imgur.com/vnjBsnO.png"
                            alt="foto de mariana"></a>
                    <p>MARIANA THEML</p>

                    <div class="us-links">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/marianatheml/" target="_blank"
                                    class="iconLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.github.com/marianatheml/" target="_blank" class="iconGithub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="us">
                <div class="us-img">
                    <a href="https://github.com/JadyLinnit" target="_blank"><img src="https://i.imgur.com/bzDfR74.png"
                            alt="foto de jady"></a>
                    <p>JADY LINNIT</p>

                    <div class="us-links">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/jady-linnit/" target="_blank" class="iconLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/JadyLinnit" target="_blank" class="iconGithub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="us">
                <div class="us-img">
                    <a href="https://github.com/BartRamandu" target="_blank"><img src="https://i.imgur.com/lzlVFqW.png"
                            alt="foto de bartolomeu"></a>
                    <p>BARTOLOMEU NETO</p>

                    <div class="us-links">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/bartolomeu-neto-84603738/" target="_blank"
                                    class="iconLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/BartRamandu" target="_blank" class="iconGithub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="us">
                <div class="us-img">
                    <a href="https://github.com/Babiluna" target="_blank"><img src="https://i.imgur.com/4x8NNmh.png"
                            alt="foto de barbara"></a>
                    <p>BÁRBARA LUNA</p>

                    <div class="us-links">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/b%C3%A1rbara-luna-9b873b69/" target="_blank"
                                    class="iconLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/Babiluna" target="_blank" class="iconGithub">
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contact">

            </div>

        </div>
    </div>
</div>

<app-rodape></app-rodape>